<div class="container-fluid">
    <div class="navbar-header">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" (click)="onStart()">START</button>
                <button class="btn btn-danger" (click)="onStop()">STOP</button>
                <div>
                    <p>{{numb}}</p>
                    <ul style="width:50%; float:right;">
                        <p>Even number</p>
                        <li class="list-group-item" *ngFor="let item of evenNumbers">
                            <app-even addedEvenNumber="onAddEvenNumber($event)"></app-even>
                        </li>
                        </ul>
                        <ul style="width:50%; float:right;">
                            <p>Odd number</p>
                            <li class="list-group-item" *ngFor="let item of oddNumbers ">
                                <app-odd addedOddNumber="onAddOddNumber($event)"></app-odd>
                            </li>
                        </ul>

                    </div>


            </div>
        </div>
    </div>
</div>